@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f9fbfb;
  background-image: url("../src/images/blob.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: sticky;
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url("../src/images/blob-mobile.svg");
  }
}
